---
const { slug } = Astro.params;
import Layout from "@layouts/Layout.astro";
import { contributorsCardsData } from "@services/getContributorsCards";
import Footer from "@molecules/Footer/Footer.astro";
// Obtiene los datos de los contribuidores
const { contributors } = await contributorsCardsData();

// Busca el contribuidor por URI
const contributor = contributors.find((contributor) =>
  contributor.uri.includes(slug)
);

const contributorData = contributor
  ? {
      name: contributor.name || "Nombre no disponible",
      email: contributor.email || "Correo no disponible",
      github: contributor.github || "GitHub no disponible",
      linkedin: contributor.linkedin || "LinkedIn no disponible",
      rol: contributor.rol?.join(", ") || "Rol no disponible",
      youtube: contributor.youtube || "YouTube no disponible",
      profilepic: contributor.profilepic || "/default-profile-pic.png",
      description: contributor.description || "Descripción no disponible",
      banner: contributor.banner || " Banner no disponible",
      cv: contributor.cv || "CV no disponible",
    }
  : null;
console.log(contributorData?.github);
---

<Layout>
  {
    contributorData ? (
      <section
        class="contributor"
        style={` background-image:linear-gradient(rgb(0 0 0 / 85%), rgb(0 0 0 / 63%)), url(${contributorData.banner})`}
      >
      <div class="contributor__bg__blur">
          <img
            class="contributor__image"
            src={contributorData.profilepic}
            alt={`Foto de perfil de ${contributorData.name}`}
          />
          <article class="contributor__info">
            <h1 class="contributor__name">{contributorData.name}</h1>
            <h2 class="contributor__rol">{contributorData.rol}</h2>
            <Fragment
              class="contributor__description"
              set:html={contributorData.description || ""}
            />
            <div class="social__container social__container--contributor">
              <a
                href={contributorData.github}
                target="_blank"
                rel="noopener noreferrer"
              >
                <iconify-icon
                  class="social__icon"
                  icon="fa:github-alt"
                  width="25"
                  height="25"
                />
              </a>
              <a
                href={contributorData.linkedin}
                target="_blank"
                rel="noopener noreferrer"
              >
                <iconify-icon
                  class="social__icon"
                  icon="simple-icons:linkedin"
                  width="25"
                  height="25"
                />
              </a>
              <a
                href={contributorData.youtube}
                target="_blank"
                rel="noopener noreferrer"
              >
                <iconify-icon
                  class="social__icon"
                  icon="entypo-social:youtube-with-circle"
                  width="25"
                  height="25"
                />
              </a>
            </div>
          </article>
        </div>
      </section>
    ) : (
      <section class="contributor">
        <h2>Contribuidor no encontrado 🦝</h2>
      </section>
    )
  }

  <Footer />
</Layout>
