---
const { title, imgSrc, demoURL, repoURL, description, skills,skillIcon } = Astro.props;
---

<article class="card">
  <div class="card__cara--A">
    <img
      class="card__img"
      alt={`Imagen de portada de ${title}`}
      src={imgSrc}
    />
    <div class="card__cara--B">
      <div class="thecnology">
        {
          skillIcon.map((skill) => (
            <iconify-icon icon={skill} width="20" heigIcont="20" />
          ))
        }
      </div>
      <h3 class="card__title">{title}</h3>
      <p class="card__description" >{description}</p>
      <div class="card__links">
        <a href={demoURL}>ver Demo <iconify-icon icon="quill:link-out" width="15" height="15"  style="color: aqua"></iconify-icon></a>
        <a href={repoURL}>ver Repo <iconify-icon icon="quill:link-out" width="15" height="15"  style="color: aqua"></iconify-icon></a>
      </div>
    </div>
  </div>
</article>
