---
import BaseHead from "@components/BaseHead.astro";
import Layout from "@src/layouts/Layout.astro";
import Title from "@atoms/Title/Title";
import CardContributor from "@molecules/CardContributor/CardContributor.astro";
import { contributorsCardsData } from "@services/getContributorsCards";

const { contributors } = await contributorsCardsData();
console.log(contributors);

---

<Layout>
  <main>
    <section class="contributors">
      <Title titleDesc="Our Top Contributors" clase="title-dark about__title" />
      <div class="contributors__container">
        {contributors.map((contributor) => (
          <CardContributor
            name={contributor.name}
            rol={contributor.rol}
            profilepic={contributor.profilepic}
            banner={contributor.banner}
            gitHub={contributor.github}
            linkedin={contributor.linkedin}
            youTube={contributor.youtube}
            contributorDetail={contributor.uri}
          />
        ))}
      </div>
    </section>
  </main>
</Layout>

<style lang="scss" is:global>
  .about__title {
    text-align: center;
    margin-bottom: 4rem;
  }
  main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 7rem;
    flex-direction: column;
    margin: 0 auto;
  }
  hr {
    border: none;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
</style>
