---
interface Props {
  type?: "submit" | "reset" | "button";
  value?: string;
  content?: string;
  extraClass?: string;
  id?: string;
}

const { type, value, content, extraClass, id } = Astro.props;
---

<button class={`form__submit  ${extraClass}`} type={type} value={value} id={id}>
  {content}
</button>
