---
import Title from "@atoms/Title/Title";
import ButtonAbout from "@atoms/ButtonAbout/ButtonAbout.astro";
import Calendar from "@src/components/molecules/GithubCalendar/Calendar";
export const prerender = true;
const { data } = Astro.props
import AboutData from "@data/about.mdx";
---

<section class="about" id="about">
  <article class="about__container">
    <div class="about__profile">
      <div class="profile__box">
        <img
          src={data.aboutPicture}
          alt={`Fot de perfil de  ${data.name} ${data.lastName}`}
          class="profile__img"
          width="100"
          height="100"
        />
      </div>
      <ButtonAbout typeMail="true" data={data.email} link={data.email}  text="email" clase="email"/>
      <ButtonAbout link={data.cv}  text="Download cv" clase="cv"/>
    </div>
    <div class="about__content">
      <Title titleDesc="About Me" clase="title-dark" />
      <!-- <p class="about__description">
          {data.about.intro}
        </p> -->
        <!-- <h5 class="about__highlighted">{data.about.highlighted}</h5> -->
        <!-- <p class="about__description">
          {data.about.continuation}
        </p> -->
        <AboutData />
    </div>
  </article>
  <Calendar client:only="react" />
</section>
